KeepYD.json
[{"id":"47fc2d74.696054","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f6928b32.00c278","type":"ifttt-key","z":""},{"id":"1748594d.3606a7","type":"tcp in","z":"47fc2d74.696054","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":90,"y":340,"wires":[["2e00d2c4.1726ee"]]},{"id":"1861c1f4.5e64fe","type":"tcp in","z":"47fc2d74.696054","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":90,"y":200,"wires":[["f5b24075.a11b9"]]},{"id":"4a2aa88a.bc4498","type":"tcp in","z":"47fc2d74.696054","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":90,"y":60,"wires":[["30cd6753.313f98"]]},{"id":"56505208.dfd42c","type":"debug","z":"47fc2d74.696054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":80,"wires":[]},{"id":"c294f1be.19753","type":"tcp in","z":"47fc2d74.696054","name":"","server":"client","host":"localhost","port":"60006","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":90,"y":760,"wires":[["93b80c62.b5aea"]]},{"id":"334fd94f.e31176","type":"debug","z":"47fc2d74.696054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":780,"wires":[]},{"id":"c5579a69.543d58","type":"tcp in","z":"47fc2d74.696054","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":90,"y":620,"wires":[["ee68e373.da88b"]]},{"id":"5cabb756.0a72d8","type":"tcp in","z":"47fc2d74.696054","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":90,"y":480,"wires":[["d64a909f.ec9df"]]},{"id":"30cd6753.313f98","type":"function","z":"47fc2d74.696054","name":"","func":"msg.payload = msg.payload.replace(/[^a-z0-9 ,.?!]/ig, ''); \nmsg.payload = msg.payload.substring(msg.payload.indexOf(\"Mote\"))\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["81c8698.86e8e98"]]},{"id":"e95b4d0a.91fb1","type":"ifttt out","z":"47fc2d74.696054","eventName":"mote_1_alert","key":"f6928b32.00c278","x":960,"y":20,"wires":[]},{"id":"aa8068e6.81dc28","type":"ifttt out","z":"47fc2d74.696054","eventName":"mote_6_alert","key":"f6928b32.00c278","x":960,"y":720,"wires":[]},{"id":"81c8698.86e8e98","type":"deduplicate","z":"47fc2d74.696054","name":"30 s to move out from proximity area","keyproperty":"","expiry":"30","x":510,"y":60,"wires":[["56505208.dfd42c","fbe41ea3.0fa6a"],[]]},{"id":"93b80c62.b5aea","type":"function","z":"47fc2d74.696054","name":"","func":"msg.payload = msg.payload.replace(/[^a-z0-9 ,.?!]/ig, ''); \nmsg.payload = msg.payload.substring(msg.payload.indexOf(\"Mote\"))\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":760,"wires":[["44fdf7bf.6d6378"]]},{"id":"44fdf7bf.6d6378","type":"deduplicate","z":"47fc2d74.696054","name":"30 s to move out from proximity area","keyproperty":"","expiry":"20","x":510,"y":760,"wires":[["334fd94f.e31176","fc4a890e.b3aec8"],[]]},{"id":"8b84b6b9.f6c8e8","type":"debug","z":"47fc2d74.696054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":220,"wires":[]},{"id":"f5b24075.a11b9","type":"function","z":"47fc2d74.696054","name":"","func":"msg.payload = msg.payload.replace(/[^a-z0-9 ,.?!]/ig, ''); \nmsg.payload = msg.payload.substring(msg.payload.indexOf(\"Mote\"))\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["d2ff91eb.68f2f"]]},{"id":"d2d03b59.fb1528","type":"ifttt out","z":"47fc2d74.696054","eventName":"mote_2_alert","key":"f6928b32.00c278","x":960,"y":160,"wires":[]},{"id":"d2ff91eb.68f2f","type":"deduplicate","z":"47fc2d74.696054","name":"30 s to move out from proximity area","keyproperty":"","expiry":"30","x":510,"y":200,"wires":[["8b84b6b9.f6c8e8","562b07ed.5926c8"],[]]},{"id":"9d5df73b.475d58","type":"debug","z":"47fc2d74.696054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":360,"wires":[]},{"id":"2e00d2c4.1726ee","type":"function","z":"47fc2d74.696054","name":"","func":"msg.payload = msg.payload.replace(/[^a-z0-9 ,.?!]/ig, ''); \nmsg.payload = msg.payload.substring(msg.payload.indexOf(\"Mote\"))\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["b443ff3f.0b4a3"]]},{"id":"51cff6d.7de9608","type":"ifttt out","z":"47fc2d74.696054","eventName":"mote_3_alert","key":"f6928b32.00c278","x":960,"y":300,"wires":[]},{"id":"b443ff3f.0b4a3","type":"deduplicate","z":"47fc2d74.696054","name":"30 s to move out from proximity area","keyproperty":"","expiry":"30","x":510,"y":340,"wires":[["9d5df73b.475d58","7d4920b1.e9dbe"],[]]},{"id":"2de8573a.403778","type":"debug","z":"47fc2d74.696054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":500,"wires":[]},{"id":"d64a909f.ec9df","type":"function","z":"47fc2d74.696054","name":"","func":"msg.payload = msg.payload.replace(/[^a-z0-9 ,.?!]/ig, ''); \nmsg.payload = msg.payload.substring(msg.payload.indexOf(\"Mote\"))\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":480,"wires":[["3a4b4d4a.3a5862"]]},{"id":"48bbc366.ea367c","type":"ifttt out","z":"47fc2d74.696054","eventName":"mote_4_alert","key":"f6928b32.00c278","x":960,"y":440,"wires":[]},{"id":"3a4b4d4a.3a5862","type":"deduplicate","z":"47fc2d74.696054","name":"30 s to move out from proximity area","keyproperty":"","expiry":"30","x":510,"y":480,"wires":[["2de8573a.403778","272b3e35.1f13d2"],[]]},{"id":"2f5d876a.f58548","type":"debug","z":"47fc2d74.696054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":640,"wires":[]},{"id":"ee68e373.da88b","type":"function","z":"47fc2d74.696054","name":"","func":"msg.payload = msg.payload.replace(/[^a-z0-9 ,.?!]/ig, ''); \nmsg.payload = msg.payload.substring(msg.payload.indexOf(\"Mote\"))\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["40411f97.e3cb9"]]},{"id":"65bbbf49.b7bc2","type":"ifttt out","z":"47fc2d74.696054","eventName":"mote_5_alert","key":"f6928b32.00c278","x":960,"y":580,"wires":[]},{"id":"40411f97.e3cb9","type":"deduplicate","z":"47fc2d74.696054","name":"30 s to move out from proximity area","keyproperty":"","expiry":"30","x":510,"y":620,"wires":[["2f5d876a.f58548","5c36760d.4c54e8"],[]]},{"id":"7d4920b1.e9dbe","type":"function","z":"47fc2d74.696054","name":"Req Params","func":"msg.event = \"mote_3_alert\";\nmsg.payload = {\"value1\": \"ALARM\", \"value2\": msg.payload, \"value3\": \"move away\"};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["51cff6d.7de9608"]]},{"id":"272b3e35.1f13d2","type":"function","z":"47fc2d74.696054","name":"Req Params","func":"msg.event = \"mote_4_alert\";\nmsg.payload = {\"value1\": \"ALARM\", \"value2\": msg.payload, \"value3\": \"move away\"};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":440,"wires":[["48bbc366.ea367c"]]},{"id":"5c36760d.4c54e8","type":"function","z":"47fc2d74.696054","name":"Req Params","func":"msg.event = \"mote_5_alert\";\nmsg.payload = {\"value1\": \"ALARM\", \"value2\": msg.payload, \"value3\": \"move away\"};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":580,"wires":[["65bbbf49.b7bc2"]]},{"id":"fc4a890e.b3aec8","type":"function","z":"47fc2d74.696054","name":"Req Params","func":"msg.event = \"mote_6_alert\";\nmsg.payload = {\"value1\": \"ALARM\", \"value2\": msg.payload, \"value3\": \"move away\"};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":720,"wires":[["aa8068e6.81dc28"]]},{"id":"562b07ed.5926c8","type":"function","z":"47fc2d74.696054","name":"Req Params","func":"msg.event = \"mote_2_alert\";\nmsg.payload = {\"value1\": \"ALARM\", \"value2\": msg.payload, \"value3\": \"move away\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":160,"wires":[["d2d03b59.fb1528"]]},{"id":"fbe41ea3.0fa6a","type":"function","z":"47fc2d74.696054","name":"Req Params","func":"msg.event = \"mote_1_alert\";\nmsg.payload = {\"value1\": \"ALARM\", \"value2\": msg.payload, \"value3\": \"move away\"};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":20,"wires":[["e95b4d0a.91fb1"]]}]